
GOPROXY_CUSTOM?=https://goproxy.cn
# GOPROXY_CUSTOM  ?= https://gocenter.io
# GOPROXY_CUSTOM  ?= https://athens.azurefd.net
# GOPROXY_CUSTOM = https://goproxy.io
 # https://goproxy.cn
 # https://goproxy.io
 # https://athens.azurefd.net
 # https://gocenter.io
 # https://mirrors.aliyun.com/goproxy/

# GOPROXY = $(or $(GOPROXY_CUSTOM),https://goproxy.io)


# tc01: 192.168.0.13
# TC01_LAN?=192.168.0.13

# Redirect error output to a file, so we can show it in development mode.
STDERR_CUSTOM?=/tmp/.$(PROJECTNAME)-stderr.txt

# PID file will keep the process id of the server
PID_CUSTOM?=/tmp/.$(PROJECTNAME).pid

#
# GOROOT=/usr/local/opt/go/libexec $GOPATH/bin/swagger generate --output=bin/sw.log spec -o bin/ent.swagger.json -i cli/server/swagger.demo.1.go 
# swagger generate --output=bin/sw.log spec -o bin/ent.swagger.json -i cli/server/swagger.demo.1.go 
#


MAIN_APPS = ./examples
SUB_APPS = cmdr
MAIN_BUILD_PKG = 
MAIN_ENTRY_FILE = main.go
